.tablero {
  display: inline-block;
  height: 128px;
  width: 600px;
  border-radius: 10px;
  background-color: #1c3041;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cuadro {
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}
